body {
  font-family: 'DM Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

.list {
  list-style: none;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

* {
  font-style: normal;
}

.about {
  z-index: 1;
  position: relative;
  padding-top: 125px;
  padding-bottom: 39px;
  background-image: url("/images/desktop/about/bckg-milk.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 80%;
  background-color: #fff5f6;
}

@media screen and (min-width: 768px) {
  .about {
    background-image: none;
    padding-top: 130px;
    padding-bottom: 66px;
  }
}

@media screen and (min-width: 1200px) {
  .about {
    padding-bottom: 39px;
  }
}

.about__title-label {
  margin-bottom: 15px;
  color: #ffa5ba;
  font-family: 'Titan One';
  font-weight: normal;
  font-size: 18px;
  line-height: 0.85;
  text-align: center;
  text-transform: uppercase;
}

.about__title {
  margin-bottom: 26px;
  color: #d41443;
  font-family: 'Titan One';
  font-weight: normal;
  font-size: 34px;
  line-height: 0.87;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .about__title {
    margin-bottom: 50px;
  }
}

.about__thumb {
  min-width: 280px;
}

@media screen and (min-width: 768px) {
  .about__thumb {
    min-width: 340px;
    margin-right: 17px;
  }
}

@media screen and (min-width: 1200px) {
  .about__thumb {
    min-width: 516px;
    margin-right: 74px;
  }
}

.about__main-img {
  display: block;
  max-width: 100%;
  height: auto;
}

.about__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.about__description-text-main {
  margin-bottom: 32px;
  font-family: Titan One;
  font-weight: 500;
  font-size: 12px;
  line-height: 162%;
  color: #000000;
}

@media screen and (min-width: 768px) {
  .about__description-text-main {
    margin-bottom: 31px;
    font-size: 14px;
    line-height: 176%;
  }
}

@media screen and (min-width: 1200px) {
  .about__description-text-main {
    font-size: 16px;
    line-height: 176%;
  }
}

.about__description-text-secondary {
  margin-bottom: 21px;
  color: #000000;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 162%;
}

@media screen and (min-width: 768px) {
  .about__description-text-secondary {
    font-size: 14px;
    line-height: 176%;
    letter-spacing: 0.04em;
  }
}

@media screen and (min-width: 1200px) {
  .about__description-text-secondary {
    font-size: 14px;
    line-height: 194%;
  }
}

.about__button {
  padding-left: 37px;
  padding-right: 37px;
  margin-right: auto;
  color: #d41443;
  background-color: #ffffff;
  min-height: 44px;
  font-weight: bold;
  font-size: 14px;
  line-height: 0.8;
  text-align: center;
}

.about__button:hover, .about__button:focus {
  background-color: #ecebeb;
}

.about__button::after {
  content: '';
  margin-left: 13px;
  height: 10px;
  width: 10px;
  background-position: 50% 50%;
}

@media screen and (min-width: 768px) {
  .about__tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-bottom: 56px;
  }
}

@media screen and (min-width: 1200px) {
  .about__tablet {
    display: none;
  }
}

.about__desktop {
  display: none;
}

@media screen and (min-width: 1200px) {
  .about__desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .btn-remover {
    display: none;
  }
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-about {
  width: 450px;
  min-height: 500px;
  padding: 40px 40px;
  background-color: #ffb8ca;
  background-image: url("/images/mobile/hero/icecream-@1x.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.modal__button {
  position: absolute;
  top: 15px;
  right: 15px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.modal__main-title {
  margin-bottom: 35px;
  font-family: 'Titan One';
  font-weight: normal;
  font-size: 28px;
  line-height: 0.9;
  text-align: center;
  letter-spacing: 0.04em;
  text-align: center;
  color: #d41443;
}

.modal__subtitle {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 186%;
  letter-spacing: 0.04em;
  color: #000000;
}

.modal__text {
  margin-bottom: 25px;
  font-family: 'DM Sans';
  font-weight: 500;
  font-size: 14px;
  line-height: 166%;
  color: #907e82;
}

.milk-splashes1,
.milk-splashes2 {
  z-index: -1;
}

@media screen and (max-width: 1199px) {
  .milk-splashes1,
  .milk-splashes2 {
    display: none;
  }
}

.milk-splashes1 {
  position: absolute;
  top: 170px;
  left: 0;
  background-image: url("/images/desktop/about/milk-left.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 160px;
  height: 179px;
}

.milk-splashes2 {
  position: absolute;
  top: 200px;
  right: 0;
  background-image: url("/images/desktop/about/milk-right.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 268px;
  height: 391px;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.advantages {
  padding-bottom: 48px;
  padding-top: 38px;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  background-color: #fff5f6;
}

@media screen and (min-width: 768px) {
  .advantages {
    padding-bottom: 140px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages {
    padding-bottom: 139px;
  }
}

.advantages-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 768px) {
  .advantages-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 226px;
  }
  .advantages-list:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages-list {
    height: 222px;
  }
}

.advantages-list__item {
  list-style: none;
}

.advantages-list__item:not(:last-child) {
  margin-right: 30px;
}

.advantages-list__item-icon {
  width: 50px;
  height: 50px;
  list-style: none;
  margin-bottom: 16px;
}

@media (min-width: 768px) {
  .advantages-list__item-icon {
    margin-top: 66px;
    margin-bottom: 36px;
  }
}

@media (min-width: 1200px) {
  .advantages-list__item-icon {
    margin-top: 38px;
    margin-bottom: 40px;
  }
}

.advantages__icon1::before {
  content: url("/images/desktop/advantages/icon1.png");
}

.advantages__icon2::before {
  content: url("/images/desktop/advantages/icon2.png");
}

.advantages__icon3::before {
  content: url("/images/desktop/advantages/icon3.png");
}

.advantages-list__item-title {
  font-family: 'Titan One';
  font-weight: 400;
  letter-spacing: 0.04em;
  font-size: 36px;
  line-height: 1.13px;
  color: #d41443;
  padding-top: 16px;
  margin-bottom: 54px;
}

@media screen and (min-width: 768px) {
  .advantages-list__item-title {
    line-height: 1.14;
    font-size: 55px;
    margin-bottom: 13px;
    padding-top: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages-list__item-title {
    font-size: 58px;
    line-height: 1.37;
    margin-bottom: 15px;
    padding-top: 0px;
  }
}

.advantages-list__item-text {
  font-family: 'DM Sans' sans-serif;
  letter-spacing: 0.02em;
  font-size: 12px;
  line-height: 1.7;
  font-weight: 700;
  color: #000000;
  list-style: none;
  padding-bottom: 38px;
}

@media screen and (min-width: 768px) {
  .advantages-list__item-text {
    padding-bottom: 0px;
    font-size: 14px;
    line-height: 1.74;
  }
}

@media screen and (min-width: 1200px) {
  .advantages-list__item-text {
    padding-bottom: 0px;
    font-size: 16px;
    line-height: 1.76;
  }
}

.about__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  min-height: 24px;
  min-width: 62.4px;
  font-family: 'DM Sans';
  font-style: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  border: none;
  border-radius: 22px;
}

.backdrop {
  position: fixed;
  z-index: 9;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity;
  transition: opacity;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: opacity;
  transition: opacity;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.backdrop.is-hidden .modal {
  opacity: 0;
  -webkit-transition: opacity;
  transition: opacity;
}

.modal__button {
  position: absolute;
  top: 15px;
  right: 15px;
  border: none;
  background-color: transparent;
}

.section {
  padding: 0 20px;
}

.container {
  margin-bottom: 144px;
}

.section-label {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;
  color: #ffa5ba;
  margin-bottom: 15px;
  margin-top: 121px;
}

.section-title {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
}

.products-list__title {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 161px;
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.products-list__item {
  position: relative;
  margin-bottom: 122px;
  background: #ffb8ca;
  border-radius: 24px;
  height: 485px;
}

.products-list__text-wrapp {
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.products-list__text--wrapp-current::before {
  content: '';
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  border: none;
  background-color: #ffffff;
  width: 6px;
  height: 6px;
  margin-bottom: 30px;
}

.products-list__img {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 249px;
}

.products-list__item--coffee {
  background: #f0d1a5;
  border-radius: 24px;
  height: 485px;
}

.products-list__item--milkshakes {
  background: #c2e297;
  border-radius: 24px;
  height: 485px;
}

.products-list__text {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  position: absolute;
}

.products-btn {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fafafa;
}

.contact {
  position: relative;
  background-color: #fff5f6;
  text-align: center;
}

.contact__list {
  text-align: left;
}

@media screen and (min-width: 768px) {
  .contact__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: -20px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .contact__list {
    margin: -30px;
  }
}

.contact__item {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
          box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  padding: 43px 21px 43px 20px;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .contact__item {
    margin: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .contact__item {
    margin: 30px;
  }
}

.contact__category {
  text-transform: uppercase;
  color: #ffffff;
  background-color: #f0d1a5;
  border-radius: 4px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  line-height: 1.86;
  letter-spacing: 0.04em;
  padding-left: 25px;
  padding-right: 25px;
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 12px;
  margin-bottom: 25px;
}

@media screen and (min-width: 768px) {
  .contact__category {
    font-size: 16px;
  }
}

.contact__category--second {
  background-color: #c2e297;
}

.contact__caption {
  font-family: DM Sans, sans-serif;
  color: #000000;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.04em;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .contact__caption {
    font-size: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .contact__caption {
    font-size: 16px;
  }
}

.contact__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: #907e82;
  margin-bottom: 25px;
}

@media screen and (min-width: 768px) {
  .contact__text {
    font-size: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .contact__text {
    font-size: 16px;
  }
}

.contact__city {
  border-bottom: 1px solid #ececec;
}

.contact__working-hours {
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

.contact__working-days {
  font-family: DM Sans, sans-serif;
  color: #000000;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.04em;
}

@media screen and (min-width: 768px) {
  .contact__working-days {
    font-size: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .contact__working-days {
    font-size: 16px;
  }
}

.contact__week-end-days {
  font-family: DM Sans, sans-serif;
  color: #000000;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.04em;
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  .contact__week-end-days {
    font-size: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .contact__week-end-days {
    font-size: 16px;
  }
}

.contact__time {
  font-family: DM Sans;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  color: #ffa5ba;
}

@media screen and (min-width: 768px) {
  .contact__time {
    font-size: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .contact__time {
    font-size: 16px;
  }
}

.contact__details {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact__phone, .contact__mail {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: #907e82;
}

@media screen and (min-width: 768px) {
  .contact__phone, .contact__mail {
    font-size: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .contact__phone, .contact__mail {
    font-size: 16px;
  }
}

.contact__button {
  text-decoration: none;
  font-family: inherit;
  font-weight: bold;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  text-align: center;
  display: block;
}
/*# sourceMappingURL=main.css.map */