<section class="section about" id="how-it">
  <div class="container">
    <p class="about__title-label">tradition and love</p>
    <h2 class="about__title">how it’s made?</h2>
    <div class="about__tablet">
      <div class="about__thumb">
        <img class="about__main-img" srcset="" src="/images/mobile/about/cow-milk.png" alt="cow" />
      </div>
      <div class="about__description">
        <p class="about__description-text-main">
          We believe in making ice cream that showcases the milk from our farm, and in creating
          simple, interesting flavors to be enjoyed with those you love.
        </p>
        <p class="about__description-text-secondary">
          We love everything about the experience of sharing great food, so we began creating our
          handcrafted ice cream to share with you. Please enjoy our ice cream with friends and
          family. It is our hope that, in some small way, our ice cream will help create moments
          with those you love. Please enjoy!
        </p>
        <div class="btn-remover">
          <button class="about__button" type="button" data-modal-open-about>Read more</button>
        </div>
      </div>
    </div>

    <div class="about__desktop">
      <div class="about__thumb">
        <img class="about__main-img" srcset="" src="/images/desktop/about/cow-milk.png" alt="cow" />
      </div>
      <div class="about__description">
        <p class="about__description-text-main">
          We believe in making ice cream that showcases the milk from our farm, and in creating
          simple, interesting flavors to be enjoyed with those you love.
        </p>
        <p class="about__description-text-secondary">
          We love everything about the experience of sharing great food, so we began creating our
          handcrafted ice cream to share with you. Please enjoy our ice cream with friends and
          family. It is our hope that, in some small way, our ice cream will help create moments
          with those you love. Please enjoy!
        </p>
        <button class="about__button" type="button" data-modal-open-about2>Read more</button>
      </div>
    </div>
  </div>

  <div class="backdrop is-hidden" data-modal-about>
    <div class="modal modal-about">
      <button class="modal__button" type="button" data-modal-close-about>
        <svg width="18" height="18">
          <use href="/images/svg/sprite2.svg#icon-modal-close"></use>
        </svg>
      </button>
      <h2 class="modal__main-title">Made with love</h2>
      <h3 class="modal__subtitle">Natural products</h3>
      <p class="modal__text">
        Free from flavors, colors, preservatives: ICECREAM is not only our motto, it's also our promise.
      </p>
      <h3 class="modal__subtitle">Modern technologies</h3>
      <p class="modal__text">
        Ice cream production requires a high degree of flexibility and efficiency; v
        the technological line works with various dry and liquid ingredients,
        seasonal demand and create an innovative, diversified product portfolio.
      </p>
      <h3 class="modal__subtitle">Best experts</h3>
      <p class="modal__text">
        the best chefs from around the world are working to create our best ice creams
      </p>
    </div>
  </div>

  <div class="milk-splashes1"></div>
  <div class="milk-splashes2"></div>
</section>