<section class="section advantages">
  <div class="container">
    <h2 class="visually-hidden">advantages</h2>

    <ul class="advantages-list list">
      <li class="advantages-list__item">
        <p class="advantages-list__item-icon advantages__icon1"></p>
        <p class="advantages-list__item-title">721</p>
        <p class="advantages-list__item-text">
          ... liters of excellent "bovine fresh" we receive every day from our partners in
          Switzerland
        </p>
      </li>
      <li class="advantages-list__item">
        <p class="advantages-list__item-icon advantages__icon2"></p>
        <p class="advantages-list__item-title">16kg</p>
        <p class="advantages-list__item-text">
          ... is recommended the daily rate of consumption icecream for the average person.
        </p>
      </li>
      <li class="advantages-list__item">
        <p class="advantages-list__item-icon advantages__icon3"></p>
        <p class="advantages-list__item-title">84</p>
        <p class="advantages-list__item-text">
          ... servings of ice cream should be eaten by a healthy child per week.
        </p>
      </li>
    </ul>
  </div>
</section>
