<section class="section advantages">
  <div class="container">
    <h2 class="visually-hidden">advantages</h2>

    <ul class="advantages-list list">
      <li class="advantages-list__item">
        <p class="advantages-list__item-icon advantages__icon1"></p>
        <p class="advantages-list__item-title">721</p>
        <p class="advantages-list__item-text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages-list__item">
        <p class="advantages-list__item-icon advantages__icon2"></p>
        <p class="advantages-list__item-title">16kg</p>
        <p class="advantages-list__item-text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages-list__item">
        <p class="advantages-list__item-icon advantages__icon3"></p>
        <p class="advantages-list__item-title">16kg</p>
        <p class="advantages-list__item-text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
