<section class="customer-reviews" id="about">
  <div class="reviews-container container">
    <h2 class="reviews__title">не знаю зачем, но надо ставить</h2>
    <div class="splide" data-testimonial-slider>
      <div class="splide__track">
        <ul class="splide__list">
          <li class="splide__slide">
            <div class="reviews__wrap">
              <img class="reviews__img" src="./images/desktop/customers/face1.jpg" alt="emily"
                srcset="./images/desktop/customers/face1.jpg 1x, ./images/desktop/customers/face1-2x.jpg 2x">
              <div class="text_wrap">
                <div class="reviews__text">
                  <p class="gradient_a">Nullam viverra consectetuer. Quisque cursus et,
                    porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan
                    congue. Lorem ipsum primis in nibh vel risus.</p>
                </div>
              </div>
              <h3 class="reviews__text-title">Emily, Los Angeles</h3>
            </div>
          </li>
          <li class="splide__slide">
            <div class="reviews__wrap">
              <img class="reviews__img" src="./images/desktop/customers/face2.jpg" alt="emily"
                srcset="./images/desktop/customers/face2.jpg 1x, ./images/desktop/customers/face2-2x.jpg 2x">
              <div class="text_wrap">
                <div class="reviews__text">
                  <p class="gradient_b">Nullam viverra consectetuer. Quisque cursus et,
                    porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan
                    congue. Lorem ipsum primis in nibh vel risus.</p>
                </div>
              </div>
              <h3 class="reviews__text-title">Lora, New Jersey</h3>
            </div>
          </li>
          <li class="splide__slide">
            <div class="reviews__wrap">
              <img class="reviews__img" src="./images/desktop/customers/face3.jpg" alt="emily"
                srcset="./images/desktop/customers/face3.jpg 1x, ./images/desktop/customers/face3-2x.jpg 2x">
              <div class="text_wrap">
                <div class="reviews__text">
                  <p class="gradient_c">Nullam viverra consectetuer. Quisque cursus et,
                    porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan
                    congue. Lorem ipsum primis in nibh vel risus.</p>
                </div>
              </div>
              <h3 class="reviews__text-title">Betty, Rhode Island</h3>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>