<footer class="footer">
  <div class="container">
    <div class="footer__wrap">
      <div class="footer__text">
        <p class="footer__text--first">homemade ice cream made</p>
        <p class="footer__text--second">with passion</p>
      </div>
      <div class="footer__social">
        <ul class="list footer__social-list">
          <li class="footer__social-item"> <a href="https://uk-ua.facebook.com/" rel="noopener noreferrer"
              target="_blank" class="footer__social-link">
              <svg class="footer__social-icon">
                <use href="/images/svg/sprite1.svg#icon-github"> </use>
              </svg> </a></li>
          <li class="footer__social-item"> <a href="https://uk-ua.facebook.com/" rel="noopener noreferrer"
              target="_blank" class="footer__social-link">
              <svg class="footer__social-icon">
                <use href="/images/svg/sprite1.svg#icon-telegram"> </use>
              </svg> </a></li>
          <li class="footer__social-item"> <a href="https://uk-ua.facebook.com/" rel="noopener noreferrer"
              target="_blank" class="footer__social-link">
              <svg class="footer__social-icon">
                <use href="/images/svg/sprite1.svg#icon-facebook"> </use>
              </svg> </a></li>
        </ul>
        <div class="footer__contact-link">
          <p class="footer__contact">Feel free to contact
            <a href="tel:+610383766284" class="footer__phone">+61 (0) 383 766 284</a></span>
        </div>
      </div>
    </div>
    <div class="footer__end"> <span class="footer__rights"> &#xa9; 2019 - IceCream. </span><span class="footer__rights">
        All Rights Reserved.</span></div>
  </div>
</footer>