<div class="backdrop is-hidden" data-modal-header>
  <div class="header-modal">
    <button type="button" class="modal-header-close-btn" data-modal-close-header></button>

    <p class="modal-title">order form</p>
    <form class="modal__form-header">
      <div class="form-field">
        <label for="username" class="form-label">Name</label>
        <input type="text" name="username" id="username" class="form-input" />
      </div>
      <div class="form-field">
        <label for="usertel" class="form-label">Phone</label>

        <input type="tel" name="usertel" id="usertel" class="form-input" />
      </div>
      <div class="form-field">
        <label for="usermail" class="form-label">Email</label>

        <input type="email" name="usermail" id="usermail" class="form-input" />
      </div>

      <label for="comment" class="form-label">Comments</label>
      <textarea class="form-comment" name="comment" id="comment" placeholder="Enter your comments"></textarea>

      <button type="submit" class="form-btn">Send</button>
    </form>
  </div>
</div>