<div class="backdrop is-hidden" data-modal-franchise>
  <div class="modal-franchise modal">
    <button type="button" class="modal-franchise__close-button" data-modal-close-franchise>
      <svg width="16" height="16" class="modal-franchise__icon-close">
        <use href="/images/svg/sprite2.svg#icon-modal-close"></use>
      </svg>
    </button>
    <p class="modal-franchise__title">You can contact us! </p>
    <form class="modal-franchise__block">
      <div class="modal-franchise__group-absolute">
        <p class="modal-franchise__info">Name</p>
        <input type="text" id="name" name="name" class="modal-franchise__input">
      </div>
      <div class="modal-franchise__group-absolute">
        <p class="modal-franchise__info">Telephone</p>
        <input type="text" id="tel" name="tel" class="modal-franchise__input">
      </div>
      <div class="modal-franchise__group-absolute">
        <p class="modal-franchise__info">E-mail</p>
        <input type="text" id="email" name="email" class="modal-franchise__input">
      </div>
      <button type="submit" class="modal-franchise__button">Send</button>
    </form>
  </div>
</div>