<section class="section" id="products">
    <div class="container">
        <p class="section-label">100% natural</p>
        <h2 class="section-title">products</h2>
        <div class="products-wrap">
            <ul class="products-list list">
                <li class="products-list__item">
                    <div class="products-list__wrapp--card">
                        <h3 class="products-list__title">ice cream</h3>
                        <p class="products-list__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod
                            tempor
                            incididunt ut
                            labore
                            et.
                            dolore magna
                            aliqua facilisis.</p>
                        <details class="products-list__details">
                            <summary class="podrobno"></summary>
                            <div class="podrobno__text">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione consequatur sapiente
                                    excepturi officia. Fugiat, minus vel corporis dolorum molestiae a neque cupiditate,
                                    similique perspiciatis temporibus eaque voluptatem earum sint incidunt!</p>
                            </div>
                        </details>
                    </div>
                </li>
                <li class="products-list__item">
                    <div class="products-list__wrapp--card">
                        <h3 class="products-list__title">ice coffee</h3>
                        <p class="products-list__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod
                            tempor
                            incididunt ut
                            labore
                            et.
                            dolore magna
                            aliqua facilisis.</p>
                        <details class="products-list__details">
                            <summary class="podrobno"></summary>
                            <div class="podrobno__text">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione consequatur sapiente
                                    excepturi officia. Fugiat, minus vel corporis dolorum molestiae a neque cupiditate,
                                    similique perspiciatis temporibus eaque voluptatem earum sint incidunt!</p>
                            </div>
                        </details>
                    </div>
                </li>
                <li class="products-list__item">
                    <div class="products-list__wrapp--card">
                        <h3 class="products-list__title">milkshakes</h3>
                        <p class="products-list__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod
                            tempor
                            incididunt ut
                            labore
                            et.
                            dolore magna
                            aliqua facilisis.</p>
                        <details class="products-list__details">
                            <summary class="podrobno"></summary>
                            <div class="podrobno__text">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione consequatur sapiente
                                    excepturi officia. Fugiat, minus vel corporis dolorum molestiae a neque cupiditate,
                                    similique perspiciatis temporibus eaque voluptatem earum sint incidunt!</p>
                            </div>
                        </details>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>