<section class="section">
    <div class="container">
        <p class="section-label">100% natural</p>
        <h2 class="section-title">products</h2>
    </div>
    <ul class="products-list list">
        <li class="products-list__item">
            <img src="" alt="">
            <h3 class="products-list__title">ice cream</h3>
            <svg class="products-list__icon" width="6" height="6">
                <use href=""></use>
            </svg>
            <svg class="products-list__icon" width="6" height="6">
                <use href=""></use>
            </svg>
            <svg class="products-list__icon" width="6" height="6">
                <use href=""></use>
            </svg>
            <p class="products-list__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor
                incididunt ut
                labore
                et.
                dolore magna
                aliqua facilisis.</p>
            <button class="products-btn" type="button"><svg class="products-btn__icon" width="6" height="6">
                    <use href=""></use>
                </svg>
            </button>
        </li>
        <li class="products-list__item">
            <img src="" alt="">
            <h3 class="products-list__title">ice coffee</h3>
            <svg class="products-list__icon" width="6" height="6">
                <use href=""></use>
            </svg>
            <svg class="products-list__icon" width="6" height="6">
                <use href=""></use>
            </svg>
            <svg class="products-list__icon" width="6" height="6">
                <use href=""></use>
            </svg>
            <p class="product-lists__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor
                incididunt ut
                labore
                et.
                dolore magna
                aliqua facilisis.</p>
            <button class="products-btn" type="button"><svg class="products-btn__icon" width="6" height="6">
                    <use href=""></use>
                </svg>
            </button>
        </li>
        <li class="products-list__item">
            <img src="" alt="">
            <h3 class="products-list__title">milkshakes</h3>
            <svg class="products-list__icon" width="6" height="6">
                <use href=""></use>
            </svg>
            <svg class="products-list__icon" width="6" height="6">
                <use href=""></use>
            </svg>
            <svg class="products-list__icon" width="6" height="6">
                <use href=""></use>
            </svg>
            <p class="products-list__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor
                incididunt ut
                labore
                et.
                dolore magna
                aliqua facilisis.</p>
            <button class="products-btn" type="button"><svg class="products-btn__icon" width="6" height="6">
                    <use href=""></use>
                </svg>
            </button>
        </li>
    </ul>
</section>