<section class="section">
    <div class="container">
        <p class="section-label">100% natural</p>
        <h2 class="section-title">products</h2>
        <ul class="products-list list">
            <li class="products-list__item">
                <div class="products-list__wrapp--card">
                    <h3 class="products-list__title">ice cream</h3>
                    <p class="products-list__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod
                        tempor
                        incididunt ut
                        labore
                        et.
                        dolore magna
                        aliqua facilisis.</p>
                    <button class="products-btn" type="button"><svg class="products-btn__icon" width="10" height="10">
                            <use href="./images/svg/sprite.svg#icon-arrow"></use>
                        </svg>
                    </button>
                </div>
            </li>
            <li class="products-list__item">
                <div class="products-list__wrapp--card">
                    <h3 class="products-list__title">ice coffee</h3>
                    <p class="products-list__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod
                        tempor
                        incididunt ut
                        labore
                        et.
                        dolore magna
                        aliqua facilisis.</p>
                    <button class="products-btn" type="button"><svg class="products-btn__icon" width="10" height="10">
                            <use href="./images/svg/sprite.svg#icon-arrow"></use>
                        </svg>
                    </button>
                </div>
            </li>
            <li class="products-list__item">
                <div class="products-list__wrapp--card">
                    <h3 class="products-list__title">milkshakes</h3>
                    <p class="products-list__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod
                        tempor
                        incididunt ut
                        labore
                        et.
                        dolore magna
                        aliqua facilisis.</p>
                    <button class="products-btn" type="button"><svg class="products-btn__icon" width="10" height="10">
                            <use href="./images/svg/sprite.svg#icon-arrow"></use>
                        </svg>
                    </button>
                </div>
            </li>
        </ul>
    </div>
</section>