.backdrop {
  position: fixed;
  z-index: 9;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  transition: $timing-function $duration;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  opacity: 1;
  transform: translate(-50%, -50%);
  transition: $timing-function $duration;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

.backdrop.is-hidden .modal {
  opacity: 0;
}

.modal__button {
  position: absolute;
  top: 15px;
  right: 15px;
  border: none;
  background-color: transparent;
}
